{{ define "main" }}
  {{ $pathParts := split (trim ((urls.Parse .Permalink).Path) "/") "/" }}
  {{ $taxonomy := index $pathParts 0 }}
  {{ $term := index $pathParts 1 }}
  {{ $termPage := site.GetPage (printf "%s/%s" $taxonomy $term) }}

<h2>{{ title $term }} </h2>
<ul style="list-style-type:none;">
  {{ range $termPage.Pages }}
<li style="padding-bottom: 15px;">
  <div>
    <span class="badge">
      {{ .Date.Format "January, 2006" }}
    </span>

    <div class="float-right">
      {{ range (.GetTerms "tags") }}
      <a href="{{ .Permalink }}" class="badge badge-light">
        #{{ .LinkTitle }}
      </a>
      {{ end }}
    </div>

    <div>
      <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}">
        <h4> {{ .LinkTitle }} </h4>
      </a>
      <p>{{ .Summary | truncate 300 }}
    </div>
  </div>
</li>
{{ end }}
</ul>
{{ end }}
