{{ define "main" }}
<div class="row content-title">
  <h1>Archive</h1>
</div>
{{ range (.Site.RegularPages.GroupByDate "2006").Reverse }}
<!-- This is to omit static pages -->
{{ if gt (len (where .Pages "Section" "posts")) 0 }}
<h4>{{ .Key }}</h4>
<ul>
  {{ range .Pages.Reverse }}
  <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    <span class="badge float-right">
        {{ .Date.Format "January, 2006" }}
    </span>
    <p>
      {{ .Summary | truncate 200 }}
    </p>
  </li>
  {{ end }}
</ul>
{{end}}
{{ end }}
{{ end }}
