{{ define "main" }}
<!-- site title -->
<div class="row">
  <div class="mx-auto">
    <h1 class="front-site-title">
      {{ .Site.Title }}
      <small class="text-muted">{{ site.Params.subtitle }}</small>
    </h1>
  </div>
</div>

{{ range first 10 .Site.RegularPages }}
<div class="box">
  <a href="{{ .RelPermalink }}" class="item">
    <h3>{{ .Title }}</h3>
  </a>
  <p>
    {{ .Summary }}
  </p>

  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}" class="badge badge-light">
    #{{ .LinkTitle }}
  </a>
  {{ end }}
  <span class="badge float-right">{{ .Date.Format "2 January, 2006" }}</span>
</div>

{{ end }}
{{ end }}
